<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>テラフォーミングマーズ</h1>
  <p>
    <% if user_signed_in? %>
      <%= link_to 'ゲームルーム', games_path %>
    <% else %>
      ログインしてください。
    <% end %>
  </p>
</div>
