<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "テラフォーミングマーズ", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Log in", user_google_omniauth_authorize_path %></li>
      </ul>
    </nav>
  </div>
</header>